/* ====================================
// css variables
// ==================================== */

:root {
  --blue: #168bf6;
  --red: #cb0505;
  --blue-dark: #054580;
  --white: #ffffff;
  --black: #000000;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

/* .row > .col,
.row > [class^=col-] {
  padding-top: 12px;
  padding-bottom: 12px;http://127.0.0.1:5500/img/logo-super-mario-land.png;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
} */

.logo-header {
  max-width: 320px;
  padding-top: 9px;
}

.book {
  background-color: var(--blue);
  padding: 9px 23px;
  display: inline-block;
  color: var(--white);
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 4px 4px 0px 0px var(--black);
  white-space: nowrap;
  transition: box-shadow 0.3s, transform 0.3s;
  align-items: center;
}

.book:hover {
  box-shadow: none;
  transform: translate(4px, 4px);
}

.book-wrapper {
  text-align: right;
  margin-right: 10px;
}

.navigation-header a {
  text-decoration: none;
  margin-left: 28px;
  font-size: 20px;
  transition: color 0.3s, transform 0.3s;
}

.navigation-header a:hover {
  color: var(--red);
}

.navigation-header {
  text-align: right;
  padding-top: 10px;
}
/* 
.burger {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
} */

.header {
  position: relative;
}

.nav-header {
  margin-top: 15px;
  margin-bottom: 15px;
}

.header-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  color: var(--white);
  text-align: center;
  font-family: Lilita One;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 3.42px;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.discover {
  background: var(--white);
  padding: 6.5px 40px;
  text-align: center;
  color: var(--blue-dark);
  border-radius: 9px;
  box-shadow: 5px 5px 0px 0px #000;
  margin-top: 56px;
  font-size: 12px;
  align-self: center;
  transition: box-shadow 0.3s, transform 0.3s;
}

.discover:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
}

p.intro {
  color: var(--red);
  font-family: Lilita One;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  opacity: 0.4;
  text-align: center;
  margin-top: 39px;
  margin-left: 15px;
  margin-right: 15px;
}

p.a-propos-texte {
  color: var(--black);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 47px;
}

.a-propos {
  margin: 90px 15px;
}

.event {
  background: var(--blue-dark);
  padding: 0 10px;
}

h2 {
  color: var(--white);
  font-family: Lilita One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 26px;
}

h2.title-dish {
  color: var(--red);
  text-align: center;
  margin-top: 50px;
}

.button-event {
  color: var(--blue);
  font-size: 12px;
  font-weight: 400;
  border-radius: 10px;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 5px 5px 0px 0px #000;
  text-align: center;
  padding: 6px 111px;
  margin-bottom: 34px;
  transition: box-shadow 0.3s, transform 0.3s;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.button-event:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.button-event-bottom {
  margin-top: 14px;
  margin-bottom: 41px;
}

.content-event {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--white);
  text-transform: uppercase;
  margin: 16px;
}

.box-event {
  position: relative;
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.age {
  font-size: 12px;
  font-weight: 400;
}

.description-event {
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
}

.golden-event {
  position: absolute;
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  top: 0;
  left: 0;
  text-transform: uppercase;
  margin: 16px;
  border-radius: 30px;
  border: 3px solid var(--white);
  background: rgba(0, 0, 0, 0.54);
  padding: 8px 23px;
}

.img-event {
  aspect-ratio: 1.12;
  object-fit: cover;
  filter: brightness(0.3);
  border-radius: 25px;
  border: 3px solid var(--black);
  transition: 0.5s;
}

.img-event:hover {
  filter: brightness(1);
  transition: 0.5s;
}

.dish {
  text-align: center;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dish:last-child {
  margin-bottom: 24px;
}

.dish img {
  width: 300px;
}

.dish h3 {
  color: var(--red);
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 22px;
}

.dish h3:hover {
  font-size: 25px;
}

.dish p {
  width: 250px;
  height: 70px;
}

.button-dish {
  background-color: var(--blue);
  color: var(--white);
  margin: 0;
  margin-bottom: 36px;
}

footer {
  background-color: var(--red);
  color: var(--white);
}

footer p {
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 17px;
}

.logo-footer {
  margin-bottom: 11px;
  margin-top: 33px;
}

.subtitel-footer {
  font-family: Lilita One;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-top: 10px;
}

.copyright {
  text-align: end;
  opacity: 0.5;
}

.horaire-resto,
.jour-resto {
  margin: 0;
}

.icon {
  margin-bottom: 15px;
  width: 32px;
  height: 32px;
}

.jour-resto {
  font-weight: 600;
}

.button-footer {
  color: var(--blue);
  background-color: var(--white);
  padding: 9px 23px;
  max-width: fit-content;
  border-radius: 10px;
  box-shadow: 4px 4px 0px 0px #000;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s, transform 0.3s;
  display: inline-block;
}

.button-book {
  margin-left: 10px;
}

.button-footer:hover {
  box-shadow: none;
  transform: translate(4px, 4px);
}

.email-enter {
  border-radius: 10px;
  background: #fc7a7a;
  max-width: fit-content;
  padding: 8px 94px 8px 18px;
  margin-bottom: 0;
  margin-right: 15px;
  font-size: 12px;
  display: inline-block;
}

.box-news {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.burger {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px;
  background: #ccc;
  text-align: right;
  z-index: 999;
}

@media (max-width: 992px) {
  .disappearance-mobile {
    display: none;
  }

  .navigation-header {
    display: none;
  }

  .dish p {
    display: none;
  }

  .dish h3 {
    margin: 0;
  }

  .dish {
    margin-bottom: 50px;
  }
}

@media (max-width: 695px) {
  .book {
    font-size: 12px;
    padding: 5px 9px;
  }

  .logo-header {
    padding-top: 5px;
  }
}

@media (min-width: 992px) {
  .burger {
    display: none;
  }

  h1 {
    font-size: 60px;
  }

  .discover {
    font-size: 16px;
  }

  p.a-propos-texte {
    font-size: 20px;
  }

  .button-event {
    padding: 14px 80px;
    font-size: 20px;
    margin-top: 84px;
    margin-bottom: 48px;
  }

  .button-event.button-event-bottom {
    margin-bottom: 108px;
    margin-top: 50px;
  }

  h2 {
    font-size: 30px;
    margin-top: 92px;
  }

  .box-event {
    margin-bottom: 25px;
  }

  .center-button {
    display: flex;
    justify-content: center;
  }

  .end-button {
    display: flex;
    justify-content: flex-end;
  }

  .button-dish {
    margin: 0;
    font-size: 16px;
    margin-bottom: 108px;
    margin-top: 20px;
  }

  .logo-footer {
    margin-top: 86px;
    margin-bottom: 40px;
  }

  .box-icon {
    display: flex;
    gap: 26px;
    margin-top: 20px;
  }

  .copyright {
    text-align: start;
  }
}

@media (min-width: 1740px) {
  .discover {
    font-size: 20px;
    padding: 18px 64px;
    margin-top: 100px;
    border-radius: 15px;
  }

  p.a-propos-texte {
    font-size: 28px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 104px;
  }

  p.intro {
    margin-top: 92px;
  }
}

@media (min-width: 1400px) {
  h2 {
    font-size: 40px;
    margin-top: 80px;
  }

  h2.title-dish {
    margin-top: 80px;
  }

  .button-dish {
    font-size: 20px;
  }
}

@media (max-width: 1260px) {
  .navigation-header a {
    font-size: 14px;
    margin-left: 20px;
  }

  .book {
    font-size: 15px;
    padding: 7px 15px;
  }
}

@media (min-width: 658px) {
  .video-mobile {
    display: none;
  }
}
@media (max-width: 657px) {
  .video-desktop {
    display: none;
  }
}
